html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-width: none;
}
::-webkit-scrollbar{
  display: none;
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins',sans-serif;
  

}

section{
  height: 100vh;
  scroll-snap-align: center;
}